In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('all_player_info.csv')

In [4]:
df.head()

,Player name,DOB,birth_place,height,position,current_team,number,senior_career,international_career,awards
0,Ángel Luis Bossio,(1905-05-05)5 May 1905,"Buenos Aires, Argentina",1.78 m (5 ft 10 in),Goalkeeper,NaN,NaN,Years?Team?Apps?(Gls) | 1927–32?Talleres?? | 1...,1927–1935?Argentina?21?(0) | Managerial career...,NaN
1,Juan Botasso,(1908-10-23)23 October 1908,"Quilmes, Argentina",1.69 m (5 ft 7 in),Goalkeeper,NaN,NaN,Years?Team?Apps?(Gls) | 1927–1930?Argentino de...,1929–1930?Argentina?9?(0),NaN
2,Roberto Eugenio Cerro,(1907-02-23)23 February 1907,"Barracas, Argentina",NaN,Striker,NaN,NaN,Years?Team?Apps?(Gls) | 1924?Sportivo Barracas...,1926–1937?Argentina?16?(13),NaN
3,Alberto Rodolfo Chividini,(1907-02-23)23 February 1907,"Buenos Aires, Argentina",1.81 m (5 ft 11+1⁄2 in),Defender,NaN,NaN,Years?Team?Apps?(Gls) | 1928–1929?Central Nort...,1928–1930?Argentina?3?(0) | Managerial career?...,NaN
4,Atilio José Demaría,19 March 1909,"Buenos Aires, Argentina",NaN,Striker,NaN,NaN,Years?Team?Apps?(Gls) | 1926–1931?Estudiantil ...,1930–1931?Argentina?3?(0) | 1932–1940?Italy?13...,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Player name           8399 non-null   object
 1   DOB                   7396 non-null   object
 2   birth_place           7365 non-null   object
 3   height                5867 non-null   object
 4   position              7393 non-null   object
 5   current_team          1806 non-null   object
 6   number                1188 non-null   object
 7   senior_career         7358 non-null   object
 8   international_career  7309 non-null   object
 9   awards                2419 non-null   object
dtypes: object(10)
memory usage: 656.3+ KB

In [8]:
df[df['Player name'].isna()]

Empty DataFrame
Columns: [Player name, DOB, birth_place, height, position, current_team, number, senior_career, international_career, awards]
Index: []

In [11]:
tempdf = df[df['DOB'].isna()]

In [12]:
df.drop(index=tempdf.index, inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7396 entries, 0 to 8397
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Player name           7396 non-null   object
 1   DOB                   7396 non-null   object
 2   birth_place           7396 non-null   object
 3   height                7396 non-null   object
 4   position              7396 non-null   object
 5   current_team          7396 non-null   object
 6   number                1188 non-null   object
 7   senior_career         7295 non-null   object
 8   international_career  7246 non-null   object
 9   awards                2393 non-null   object
dtypes: object(10)
memory usage: 893.6+ KB

In [16]:
tempdf = df[df['birth_place'].isna()]

In [21]:
tempdf.index

Index([ 279,  372,  519,  522,  523,  524,  529,  534,  599,  626,  629,  630,
        638,  639,  642,  643,  644,  698,  700,  728,  737,  741,  745,  825,
        827,  877,  925,  926,  927, 1042, 1056, 1263, 1269, 1271, 1709, 1756,
       1981, 2282, 2303, 2334, 2416, 2480, 2492, 2571, 2703, 4092, 4096, 4097,
       4162, 4206, 4208, 4331, 4631, 6116, 7597],
      dtype='int64')

In [22]:
df.loc[tempdf.index , 'birth_place'] = "Not Available"

In [23]:
df[df['birth_place'].isna()]

Empty DataFrame
Columns: [Player name, DOB, birth_place, height, position, current_team, number, senior_career, international_career, awards]
Index: []

In [27]:
tempdf = df[df['height'].isna()]

In [28]:
df.loc[tempdf.index, 'height'] = 'Not available'

In [31]:
tempdf = df[df['position'].isna()]

In [32]:
df.loc[tempdf.index, 'position'] = 'Not available'

In [36]:
tempdf = df[df['current_team'].isna()]

In [38]:
df.loc[tempdf.index, 'current_team'] = 'retired'